{% load static %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'CSS/style.css'%}">
        <title> Story 1  PPW </title>
    </head>
    <body>
        <div class="header">
            <h1>Irham Trisna Ananto</h1>
        </div>
        <br>
        <img src="{% static 'images/yudamaba.jpg'%}" alt="Foto dengan Yuda" width="200" height="266">  
        <p><b><h1> Halo, aku Irham! </h1></b></p>

        <br>
        <p><h2> Nama </h2></p>
        <p><h4><t> Irham Trisna Ananto </t></h4></p>
        <p><h2> NPM </h2></p>
        <p><h4><t> 1906353870 </t></h4></p>
        <p><h2> Angkatan </h2></p>
        <p><h4><t> Maung 2019 </t></h4></p>
        <p><h2> NPM </h2></p>
        <p><h4><t> 1906353870 </t></h4></p>
        <p><h2> Hobi </h2></p>
        <p><h4><t> Menyanyi, nonton Youtube, mengobrol </t></h4></p>
        <p><h2> Deskripsi </h2></p>
        <p><h4><t> Nama saya Irham Trisna Ananto, panggil saja Irham. Saya merupakan mahasiswa S1 Sistem Informasi Reguler di Fasilkom UI </t></h4></p>
        
        <p><h2> Riwayat Pendidikan </h2></p>
        <br>
        <table>
            <tr>
                <th> Nama Institusi </th>
                <th> Tahun </th>
            </tr>
            <tr>
                <td> SD Negeri Pekayon 18 Pagi </td>
                <td> 2007 - 2013 </td>
            </tr>
            <tr>
                <td> SMP Negeri 91 Jakarta </td>
                <td> 2013 - 2016 </td>
            </tr>
            <tr>
                <td> SMA Negeri 39 Jakarta </td>
                <td> 2016 - 2019 </td>
            </tr>
            <tr>
                <td> Universitas Indonesia </td>
                <td> 2019 - </td>
            </tr>
        </table>
        <br>
        <h4> Yuk kenalan dengan saya! </h4>
        <a href="http://www.instagram.com/irhamtrisna">
            <img src="{% static 'images/instagram1.png'%}" alt="Instagram Logo" width="30" height="30">
        </a>
        <a href="https://www.linkedin.com/in/irhamtrisna-ananto/">
            <img src="{% static 'images/linkedin.png'%}" alt="LinkedIn Logo" width="30" height="30">
        </a>
    </body>
</html>