{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class="container">
    <h4> Apakah kamu yakin ingin menghapus {{ hapus_peserta.Nama_Peserta }}? </h4>
</div>

<form action="." method="POST">
    {% csrf_token %}
    <input class="btn btn-danger" type="submit" value="Hapus" />
    <a href="../" class="btn btn-primary">Cancel</a>
</form>
{% endblock %}