{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block body %}
<form method="POST" style="display: flex; justify-content: center; align-items: center; flex-direction: column">
    {% csrf_token %}
    {{ form|crispy }}
  
    <h5>* = Wajib Diisi</h5>
    <input class="btn btn-primary" type="submit" value="Save" />
    <a type="button" class="btn btn-primary" href="lihat/"> Lihat Kegiatan</a>
    <a type="button" class="btn btn-success" href="../">Home</a>
  </form>

  
{% endblock %}