.header {
  padding: 20px;
  text-align: center;
  background: #33adff;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

body {
    background-color: rgba(66, 198, 241, 0.699);
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
}
  
td, th {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
}