{% extends 'base.html' %}

{% block body %}
<h1>JADWAL KULIAH</h1>

<div class="table-responsive">

    <table class="table table-hover" style="padding-left: 10px; padding-right: 10px;">
        <thead>
            <tr>
                <th scope="col">Nama Mata Kuliah</th>
                <th scope="col">Dosen Pengajar</th>
                <th scope="col">Jumlah SKS</th>
                <th scope="col">Semester Tahun</th>
                <th scope="col">Ruang</th>
                <th scope="col">Deskripsi</th>
            </tr>
        </thead>
        
        <tbody>
            {% for x in object %}
                <tr class='clickable-row'>
                    <td><a href="{% url 'firstapp:viewSchedule' x.id %}">{{ x.mataKuliah }}</a></td>
                    <td>{{ x.dosenPengajar }}</td>
                    <td>{{ x.jumlahSKS }}</td>
                    <td>{{ x.semesterTahun }}</td>
                    <td>{{ x.ruang }}</td>
                    <td>{{ x.deskripsi|slice:":15" }}</td>
                </tr>
            {% endfor %}
        </tbody>

        
        
        

    </table>

    <form>
        <button type="submit" class="btn btn-outline-success btn-block" formaction="{% url 'firstapp:indexjadwal' %}">Add</button>
    </form>
    
</div>

{% endblock %}