{% extends 'base.html' %}
{% load static %}

{% block body %}
      <div class="containerindex" style="background-color: #FFBF95;">
        <div class="image">
          <img src="{% static 'images/wibu galan.jpg'%}" class="img-fluid" alt="Responsive image">
        </div>
        <div class="para">
          <h3> Halo semua, nama saya</h3><br>
          <h1>IRHAM TRISNA ANANTO</h1> <br>
          <h5><p>Saya merupakan seorang mahasiswa semester 2 yang sedang berkuliah di Universitas Indonesia jurusan Sistem Informasi. Hobi saya menyanyi, mendengarkan lagu, dan ikut dalam kepanitiaan/organisasi. Motto hidup saya adalah lihatlah lebih dekat dan kau bisa menilai segalanya dengan lebih bijaksana. Jangan sungkan untuk mengontak saya. Semoga hari-hari kalian menjadi lebih menyenangkan!</p></h5>
        </div>
      </div>
{% endblock %}