{% extends 'base.html' %}
{% load static %}

{% block body %}
<form action="" method="POST" style="display: flex; justify-content: center; align-items: center; flex-direction: column">
  {% csrf_token %}
  
  {{ form }}
  <button type="submit" class="btn btn-outline-success btn-block">Add</button>
</form>

{% endblock %}