{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/maincss.css'%}">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="transparent-backg">
                    <img src="{% static 'images/Istana Merdeka.jpg'%}" width="100%" style="opacity: 0.6;" style="padding: 0px;">
                </div>
            </div>
            <div class="col-md-4" style="background-color: #95d5ff;">
                <center>
                <div class="image">
                    <img src="{% static 'images/Selfie Hnm1.jpg'%}" width="160px" height="180px" class="rounded-circle" style="margin-top: 2vh;">
                </div>
                <h2>Halo! Aku Irham</h2>
                <p style="margin-top: 2vh;">Seorang mahasiswa tahun pertama Fasilkom UI yang masih mencari makna hidup dan terus berbahagia serta berbagi kebahagiaan kepada sesama. Jika melihat video cover lagu saya di Instagram, mohon jangan request lagu karena kemungkinan tidak akan saya nyanyikan.</p>
                <a href="./about"><buttonreadmore class="btn btn-primary" type="submit">Read More</button></a>
                    
                <button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#myModal">Mini Gallery</button>
                    <div id="myModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Mini Galeri Foto</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                        <ol class="carousel-indicators">
                                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                        </ol>
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <img class="d-block w-100" src="{% static 'images/YudaZalfa.jpg'%}" alt="Foto bersama Yuda dan Zalfa">
                                            </div>
                                            <div class="carousel-item">
                                                <img class="d-block w-100" src="{% static 'images/Buken.jpg'%}" alt="Foto XII Mipa 1">
                                            </div>
                                            <div class="carousel-item">
                                                <img class="d-block w-100" src="{% static 'images/GBN.jpg'%}" alt="Foto bersama GBN DKI Jakarta">
                                            </div>
                                        </div>
                                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </center>
            </div>   
        </div>
    </div>
</body>
</html>