{% extends 'base.html' %}
{% load static %}

{% block body %}
      <br> <center> <h1> PRESTASI </h1> </center> <br>
      <div class="containerprestasi">
        <img src="{% static 'images/VG.jpg' %}" width="75%" alt="""> <br>
        <div class="table-responsive-sm">
            <table class="table table-borderless">
                <thead>
                    <tr>
                      <th scope="col">Nama Kegiatan</th>
                      <th scope="col">Tahun</th>
                      <th scope="col">Deskripsi Kegiatan</th>
                    </tr>
                </thead>
                  <tbody>
                    <tr>
                      <td>Gita Bahana Nusantara</td>
                      <td>2018</td>
                      <td>Gita Bahana Nusantara merupakan tim paduan suara nasional yang dibentuk oleh Kementerian Pendidikan dan Kebudayaan untuk mengisi acara kenegaraan Upacara Hari Ulang Tahun ke-73 Republik Indonesia di Istana Merdeka.</td>
                    </tr>
                    <tr>
                      <td>Lomba Paduan Suara Tingkat SMA se-DKI Jakarta</td>
                      <td>2017</td>
                      <td>Juara I lomba paduan suara tingkat SMA/SLTA se-DKI Jakarta. Lomba ini diselenggarakan oleh Dinas Pariwisata Provinsi DKI Jakarta yang diikuti oleh 14 SMA/SLTA se-DKI Jakarta.</td>
                    </tr>
                    <tr>
                      <td>Lomba Paduan Suara Tingkat SMA se-DKI Jakarta</td>
                      <td>2018</td>
                      <td>Juara III lomba paduan suara tingkat SMA/SLTA se-DKI Jakarta. Lomba ini diselenggarakan oleh Dinas Pariwisata Provinsi DKI Jakarta bersama dengan Kementerian Pendidikan dan Kebudayaan Republik Indonesia yang diikuti oleh 15 SMA/SLTA se-DKI Jakarta</td>
                    </tr>
                    <tr>
                        <td>Lomba Vocal Group UI Art War</td>
                        <td>2019</td>
                        <td>Juara III lomba vocal group pada perhelatan UI Art War ke-9 yang diikuti oleh 13 Fakultas di Universitas Indonesia</td>
                    </tr>
                  </tbody>
            </table>
          </div>
      </div>
{% endblock %}