{% extends 'base.html' %}
{% load static %}


{% block body %}

    <div class="container-fluid table-responsive">
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th class="col-md-auto" scope="col"></th>
                    <th class="col-md-auto" scope="col"></th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <th scope="row">Nama Mata Kuliah</th>
                    <td><p class="h4">{{ x.mataKuliah }}</p></td>
                </tr>

                <tr>
                    <th scope="row">Dosen Pengajar</th>
                    <td><p class="h4">{{ x.dosenPengajar}}</p></td>
                </tr>

                <tr>
                    <th scope="row">Jumlah SKS</th>
                    <td><p class="h4">{{ x.jumlahSKS }}</p></td>
                </tr>

                <tr>
                    <th scope="row">Semester Tahun</th>
                    <td><p class="lead">{{ x.semesterTahun }}</p></td>
                </tr>

                <tr>
                    <th scope="row">Ruang</th>
                    <td><p class="h4">{{ x.ruang }}</p></td>
                </tr>

                <tr>
                    <th scope="row">Deskripsi</th>
                    <td><p class="h4">{{ x.deskripsi }}</p></td>
                </tr>
            </tbody>
        </table>
    </div>
        
    <form>
        <button type="submit" class="btn btn-outline-danger btn-block" formaction="{% url 'firstapp:delete' x.mataKuliah %}">Delete</button>
    </form>

{% endblock %}