<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="./">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="./about">Tentang Saya</a>
        <a class="nav-item nav-link" href="#Organization">Pengalaman Organisasi</a>
        <a class="nav-item nav-link" href="./achievements">Prestasi & Sertifikat</a>
        <a class="nav-item nav-link" href="#Education">Riwayat Pendidikan</a>
        <a class="nav-item nav-link" href="./inputSchedule">Jadwal</a>
        <a class="nav-item nav-link" href="#Contacts">Kontak</a>
        <a class="nav-item nav-link" href="#Gallery">Galeri Foto</a>
        <a class="nav-item nav-link" href="./storysatu/story1">Story 1</a>
        <a class="nav-item nav-link" href="./kegiatan">Kegiatan</a>

      </div>
    </div>
</nav>